
// .movie-view {
//   height: 5em; 
// }

.movie-poster {
  padding-bottom: 5%; 
}

.movie-title {
  font-size: 20px;
  font-weight: 500;
}

.movie-description {
  padding-top: 5%;
  padding-bottom: 5%;
}

.back-button {
  position: float-right;
  height: 3em;
}

.favorites-btn {
  height: 3em;
  margin: 5%; 
}